<h1>Top Questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.count %></td>
    <td><%= link_to 'View Replies', post %></td>
     <% if signed_in? %>
    <td><%= link_to 'Vote', edit_post_path(post) %></td>
        <% if current_user.admin? %>
     <td><%= link_to "delete", post, :method => :delete, :confirm => "Are You sure?", :title => "Delete #{post.title}" %> </td>
  </tr>
        <% end %>
        <% end %>

  <% end %>
</table>
 
<%if !signed_in? %>

<%= link_to "Sign in now!", signin_path, :class => "signup_button round" %>
<br> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Don't have an account? <%= link_to "Sign up", signup_path %>

<br />
<% end %>
<% if signed_in? %>
 <%= link_to 'New Post', new_post_path %>
<% end %>
