<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>

      <section class="round">
                <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>

<% form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Users", :name => nil %>
  </p>
<% end %>


<% form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Posts", :name => nil %>
  </p>
<% end %>
        
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>


</html>

